.icon-img {
  height: 44px;
  width: 44px;
  left: 0px;
  top: 0px;
  border-radius: 4px;

  box-sizing: border-box;

  /* General/White */

  background: #ffffff;
  /* Light Grey/100 */

  border: 2px solid #d7dfe9;
  border-radius: 4px;
}

.title {
  /* height: 24px;
  width: 37px;
  left: 84px;
  top: 24px;
  border-radius: nullpx; */

  font-family: "HK Grotesk";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* General/Dark blue */

  color: #171f46;
}

.resource-item {
  height: 192px;
  width: 360px;
  left: 0px;
  top: 0px;
  border-radius: 4px;

  box-sizing: border-box;
  background: #ffffff;
  /* Light Grey/100 */

  border: 1px solid #d7dfe9;
  border-radius: 4px;
  margin: 32px;
}

.title-card {
  display: flex;
  flex-direction: row;
}

.category {
  font-size: 12px;
}
